In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [8]:
#Read the city and ride data
city_df = pd.read_csv("city_data.csv")
ride_df = pd.read_csv("ride_data.csv")

# City dataframe
#city_df

# Ride dataframe
#ride_df

#combine the data into a single dataset
combo_data = pd.merge(ride_df, city_df, on="city")

#Display the combo data table for preview
combo_data

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,Lake Jonathanshire,2018-04-07 20:51:11,31.25,4441251834598,5,Urban
2,Lake Jonathanshire,2018-03-09 23:45:55,19.89,2389495660448,5,Urban
3,Lake Jonathanshire,2018-04-07 18:09:21,24.28,7796805191168,5,Urban
4,Lake Jonathanshire,2018-01-02 14:14:50,13.89,424254840012,5,Urban
5,Lake Jonathanshire,2018-04-06 11:30:32,16.84,6164453571846,5,Urban
6,Lake Jonathanshire,2018-03-21 00:18:34,37.95,8353656732934,5,Urban
7,Lake Jonathanshire,2018-01-28 00:07:00,5.67,9756573174778,5,Urban
8,Lake Jonathanshire,2018-01-24 12:24:22,34.65,3319117904437,5,Urban
9,Lake Jonathanshire,2018-03-24 16:27:49,14.94,1670908453476,5,Urban
10,Lake Jonathanshire,2018-04-11 22:10:30,12.81,5999870428814,5,Urban
11,Lake Jonathanshire,2018-01-23 21:43:16,21.11,7711472105447,5,Urban
12,Lake Jonathanshire,2018-01-29 00:19:07,41.05,6649692036139,5,Urban
13,Lake Jonathanshire,2018-03-22 14:33:32,18.72,4675968803527,5,Urban
14,Lake Jonathanshire,2018-04-16 20:26:30,32.47,1013873953228,5,Urban
15,Lake Jonathanshire,2018-04-11 19:49:34,25.92,8533808747676,5,Urban
16,Lake Jonathanshire,2018-04-09 21:41:30,15.96,577276092645,5,Urban
17,Lake Jonathanshire,2018-01-16 09:27:03,26.27,3267656258507,5,Urban
18,Lake Jonathanshire,2018-01-21 12:12:56,37.25,2966536034637,5,Urban
19,Lake Jonathanshire,2018-04-11 21:32:27,22.48,3505458786874,5,Urban
20,Lake Jonathanshire,2018-02-16 01:49:45,17.58,3641777572467,5,Urban
21,Lake Jonathanshire,2018-01-17 13:15:58,28.42,6544222037368,5,Urban
22,Lake Jonathanshire,2018-01-21 09:48:28,22.36,2522096563712,5,Urban
23,Lake Jonathanshire,2018-02-23 06:10:30,26.63,5372487991955,5,Urban
24,South Michelleport,2018-03-04 18:24:09,30.24,2343912425577,72,Urban
25,South Michelleport,2018-03-02 09:54:50,33.12,813844006721,72,Urban
26,South Michelleport,2018-01-08 09:38:14,23.77,4916160406018,72,Urban
27,South Michelleport,2018-04-22 03:15:33,43.62,4663606096929,72,Urban
28,South Michelleport,2018-03-03 16:13:34,41.62,2339775503972,72,Urban
29,South Michelleport,2018-01-27 19:38:12,15.45,7465262064048,72,Urban
...,...,...,...,...,...,...
2345,Newtonview,2018-04-01 13:39:13,26.73,3723530332713,1,Rural
2346,Newtonview,2018-04-25 10:20:13,55.84,9990581345298,1,Rural
2347,North Jaime,2018-03-06 09:09:23,44.17,1152195873170,1,Rural
2348,North Jaime,2018-03-12 13:05:56,23.21,5987447089759,1,Rural
2349,North Jaime,2018-04-04 13:13:40,51.83,9116047435376,1,Rural
2350,North Jaime,2018-02-01 08:59:24,17.05,9481117811603,1,Rural
2351,North Jaime,2018-05-06 00:58:17,41.18,7328094869758,1,Rural
2352,North Jaime,2018-04-04 01:58:37,43.86,8195436622338,1,Rural
2353,North Jaime,2018-04-27 17:58:27,14.01,2156688209209,1,Rural
2354,North Jaime,2018-02-10 21:03:50,11.11,2781339863778,1,Rural
2355,Penaborough,2018-02-24 00:44:00,21.89,2069309881916,6,Rural
2356,Penaborough,2018-04-27 06:02:10,38.33,547013925055,6,Rural
2357,Penaborough,2018-01-14 15:58:48,54.10,432925983890,6,Rural
2358,Penaborough,2018-02-03 17:15:31,51.80,5383427508621,6,Rural
2359,Penaborough,2018-01-22 15:36:24,10.11,4129933467653,6,Rural
2360,Harringtonfort,2018-01-06 07:38:40,47.33,3849747342021,4,Rural
2361,Harringtonfort,2018-02-17 04:42:56,30.58,6835140871685,4,Rural
2362,Harringtonfort,2018-04-16 16:30:50,17.39,4023962353348,4,Rural
2363,Harringtonfort,2018-03-10 10:11:37,19.02,6717313402790,4,Rural
2364,Harringtonfort,2018-02-26 07:03:11,54.66,9201585331171,4,Rural
2365,Harringtonfort,2018-01-09 15:30:35,31.84,3730685356921,4,Rural
2366,West Heather,2018-03-12 04:22:26,26.55,7035849392668,4,Rural
2367,West Heather,2018-02-22 09:01:37,17.40,8702491506161,4,Rural
2368,West Heather,2018-02-22 01:46:43,33.38,5551691454078,4,Rural
2369,West Heather,2018-02-04 16:29:23,13.97,7118893881453,4,Rural
2370,West Heather,2018-04-18 19:33:12,46.60,3671003215967,4,Rural
2371,West Heather,2018-03-02 21:04:10,20.99,5766454453070,4,Rural
2372,West Heather,2018-03-06 20:06:51,48.11,2570548892682,4,Rural
2373,West Heather,2018-02-02 06:28:04,53.07,2462950442268,4,Rural
2374,West Heather,2018-05-07 19:22:15,44.94,4256853490277,4,Rural

In [12]:
# what are the city types
city_type = combo_data["type"].unique()
print(city_type)

#Group by City
city_grp = combo_data.groupby("city")


#Total number of rides per city
rides_per_city = city_grp["ride_id"].count()
#print(rides_per_city)

#Total number of drivers per city
drivers_city = city_grp["driver_count"].max()
#print(drivers_city)

#list city type
city_type = city_grp["type"].max()
#print(city_type)

#Average Fare per city
avg_fare = city_grp["fare"].mean()
#print(avg_fare)
#######################################################
# Create dataframe to hold data
#zipped_df = list(zip(rides_per_city, drivers_city, avg_fare))
#test1 = pd.DataFrame(zipped_df, columns = ["Rides per City", "Drivers per City", "Average Fare"])
#print(test1)

city_summary = pd.DataFrame({"Rides per City": rides_per_city,
                            "Drivers per City": drivers_city,
                            "Average Fare": avg_fare,
                            "City Type": city_type})
city_summary

['Urban' 'Suburban' 'Rural']

                      Rides per City  Drivers per City  Average Fare City Type
city
Amandaburgh                       18                12     24.641667     Urban
Barajasview                       22                26     25.332273     Urban
Barronchester                     16                11     36.422500  Suburban
Bethanyland                       18                22     32.956111  Suburban
Bradshawfurt                      10                 7     40.064000     Rural
Brandonfort                       19                10     35.437368  Suburban
Carriemouth                       27                52     28.314444     Urban
Christopherfurt                   27                41     24.501852     Urban
Colemanland                       22                23     30.894545  Suburban
Davidfurt                         17                23     31.995882  Suburban
Deanville                         19                49     25.842632     Urban
East Aaronbury                     9                 7     25.661111  Suburban
East Danielview                   17                22     31.560588  Suburban
East Kaylahaven                   29                65     23.757931     Urban
East Kentstad                     13                20     29.823077  Suburban
East Marymouth                    27                 5     30.835185  Suburban
Erikaland                         12                37     24.906667     Urban
Garzaport                          3                 7     24.123333     Rural
Grahamburgh                       25                61     25.221200     Urban
Grayville                         15                 2     27.763333  Suburban
Harringtonfort                     6                 4     33.470000     Rural
Huntermouth                       24                37     28.993750     Urban
Hurleymouth                       28                36     25.891429     Urban
Jerryton                          25                64     25.649200     Urban
Jessicaport                        6                 1     36.013333     Rural
Johnton                           21                27     26.785714     Urban
Joneschester                      25                39     22.289600     Urban
Josephside                        27                25     32.858148  Suburban
Justinberg                        30                39     23.694333     Urban
Karenberg                         17                22     26.340000     Urban
...                              ...               ...           ...       ...
South Evanton                     31                11     26.726129     Urban
South Jack                        19                46     22.965263     Urban
South Jennifer                     7                 7     35.264286     Rural
South Karenland                   38                 4     26.535526     Urban
South Latoya                      19                10     20.093158     Urban
South Marychester                  8                 1     41.870000     Rural
South Michelleport                31                72     24.451613     Urban
South Phillip                     31                38     28.571290     Urban
South Saramouth                    4                 7     36.160000     Rural
South Teresa                      22                21     31.220455  Suburban
Taylorhaven                        6                 1     42.263333     Rural
Valentineton                      22                45     24.636364     Urban
Veronicaberg                      17                20     32.828235  Suburban
Victoriaport                      14                16     27.780000  Suburban
West Angela                       39                48     25.990000     Urban
West Anthony                      30                70     24.736667     Urban
West Christopherberg              26                32     24.421154     Urban
West Ericstad                     18                25     22.347222     Urban
West Gabriel                      23                57     20.346087     Urban
West Hannah                       21                12     29.547619  Suburban
West Heather                       9                 4     33.890000     Rural
West Heidi                        28                28     23.133929     Urban
West Josephberg                   26                45     21.720385     Urban
West Kimmouth                     20                 4     29.871500  Suburban
West Patrickchester               16                25     28.233125     Urban
West Robert                       31                39     25.123871     Urban
West Samuelburgh                  25                73     21.767600     Urban
Williamsonville                   14                 2     31.875000  Suburban
Williamsstad                      23                59     24.362174     Urban
Williamsview                      20                46     26.599000     Urban

[120 rows x 4 columns]