In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [16]:
#Read the city and ride data
city_df = pd.read_csv("city_data.csv")
ride_df = pd.read_csv("ride_data.csv")

# City dataframe
#city_df

# Ride dataframe
#ride_df

#combine the data into a single dataset
combo_data = pd.merge(ride_df, city_df, on="city")

#Display the combo data table for preview
combo_data.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,Lake Jonathanshire,2018-04-07 20:51:11,31.25,4441251834598,5,Urban
2,Lake Jonathanshire,2018-03-09 23:45:55,19.89,2389495660448,5,Urban
3,Lake Jonathanshire,2018-04-07 18:09:21,24.28,7796805191168,5,Urban
4,Lake Jonathanshire,2018-01-02 14:14:50,13.89,424254840012,5,Urban

In [22]:
# what are the city types
city_type = combo_data["type"].unique()
print(city_type)

#Group by City
city_grp = combo_data.groupby("city")

#Total number of rides per city
rides_per_city = city_grp["ride_id"].count()
print(rides_per_city)

#Total number of drivers per city
drivers_city = city_grp["driver_count"].max()
print(drivers_city)

#Average Fare per city
avg_fare = city_grp["fare"].mean()
print(avg_fare)

['Urban' 'Suburban' 'Rural']
city
Amandaburgh             18
Barajasview             22
Barronchester           16
Bethanyland             18
Bradshawfurt            10
Brandonfort             19
Carriemouth             27
Christopherfurt         27
Colemanland             22
Davidfurt               17
Deanville               19
East Aaronbury           9
East Danielview         17
East Kaylahaven         29
East Kentstad           13
East Marymouth          27
Erikaland               12
Garzaport                3
Grahamburgh             25
Grayville               15
Harringtonfort           6
Huntermouth             24
Hurleymouth             28
Jerryton                25
Jessicaport              6
Johnton                 21
Joneschester            25
Josephside              27
Justinberg              30
Karenberg               17
                        ..
South Evanton           31
South Jack              19
South Jennifer           7
South Karenland         38
South Latoya            19
South Marychester        8
South Michelleport      31
South Phillip           31
South Saramouth          4
South Teresa            22
Taylorhaven              6
Valentineton            22
Veronicaberg            17
Victoriaport            14
West Angela             39
West Anthony            30
West Christopherberg    26
West Ericstad           18
West Gabriel            23
West Hannah             21
West Heather             9
West Heidi              28
West Josephberg         26
West Kimmouth           20
West Patrickchester     16
West Robert             31
West Samuelburgh        25
Williamsonville         14
Williamsstad            23
Williamsview            20
Name: ride_id, Length: 120, dtype: int64
city
Amandaburgh             12
Barajasview             26
Barronchester           11
Bethanyland             22
Bradshawfurt             7
Brandonfort             10
Carriemouth             52
Christopherfurt         41
Colemanland             23
Davidfurt               23
Deanville               49
East Aaronbury           7
East Danielview         22
East Kaylahaven         65
East Kentstad           20
East Marymouth           5
Erikaland               37
Garzaport                7
Grahamburgh             61
Grayville                2
Harringtonfort           4
Huntermouth             37
Hurleymouth             36
Jerryton                64
Jessicaport              1
Johnton                 27
Joneschester            39
Josephside              25
Justinberg              39
Karenberg               22
                        ..
South Evanton           11
South Jack              46
South Jennifer           7
South Karenland          4
South Latoya            10
South Marychester        1
South Michelleport      72
South Phillip           38
South Saramouth          7
South Teresa            21
Taylorhaven              1
Valentineton            45
Veronicaberg            20
Victoriaport            16
West Angela             48
West Anthony            70
West Christopherberg    32
West Ericstad           25
West Gabriel            57
West Hannah             12
West Heather             4
West Heidi              28
West Josephberg         45
West Kimmouth            4
West Patrickchester     25
West Robert             39
West Samuelburgh        73
Williamsonville          2
Williamsstad            59
Williamsview            46
Name: driver_count, Length: 120, dtype: int64
city
Amandaburgh             24.641667
Barajasview             25.332273
Barronchester           36.422500
Bethanyland             32.956111
Bradshawfurt            40.064000
Brandonfort             35.437368
Carriemouth             28.314444
Christopherfurt         24.501852
Colemanland             30.894545
Davidfurt               31.995882
Deanville               25.842632
East Aaronbury          25.661111
East Danielview         31.560588
East Kaylahaven         23.757931
East Kentstad           29.823077
East Marymouth          30.835185
Erikaland               24.906667
Garzaport               24.123333
Grahamburgh             25.221200
Grayville               27.763333
Harringtonfort          33.470000
Huntermouth             28.993750
Hurleymouth             25.891429
Jerryton                25.649200
Jessicaport             36.013333
Johnton                 26.785714
Joneschester            22.289600
Josephside              32.858148
Justinberg              23.694333
Karenberg               26.340000
                          ...
South Evanton           26.726129
South Jack              22.965263
South Jennifer          35.264286
South Karenland         26.535526
South Latoya            20.093158
South Marychester       41.870000
South Michelleport      24.451613
South Phillip           28.571290
South Saramouth         36.160000
South Teresa            31.220455
Taylorhaven             42.263333
Valentineton            24.636364
Veronicaberg            32.828235
Victoriaport            27.780000
West Angela             25.990000
West Anthony            24.736667
West Christopherberg    24.421154
West Ericstad           22.347222
West Gabriel            20.346087
West Hannah             29.547619
West Heather            33.890000
West Heidi              23.133929
West Josephberg         21.720385
West Kimmouth           29.871500
West Patrickchester     28.233125
West Robert             25.123871
West Samuelburgh        21.767600
Williamsonville         31.875000
Williamsstad            24.362174
Williamsview            26.599000
Name: fare, Length: 120, dtype: float64